[submodule "core/payroll-v13"]
	path = core/payroll-v13
	url = git@github.com:abdallamohamedcore/payroll-v13.git
	branch = develop
[submodule "core/3party_paid"]
	path = core/3party_paid
	url = git@github.com:abdallamohamedcore/leigh_3party_paid.git
	branch = 13.0
[submodule "thirdparty/.oca_project"]
	path = thirdparty/.oca_project
	url = git@github.com:OCA/project.git
	branch = 13.0
[submodule "thirdparty/.cybroaddons"]
	path = thirdparty/.cybroaddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 13.0
[submodule "thirdparty/.oca_queue"]
	path = thirdparty/.oca_queue
	url = git@github.com:OCA/queue.git
	branch = 13.0
[submodule "thirdparty/.oca_reporting_engine"]
	path = thirdparty/.oca_reporting_engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0
[submodule "thirdparty/.oca_timesheet"]
	path = thirdparty/.oca_timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 13.0
[submodule "thirdparty/.oca_server_ux"]
	path = thirdparty/.oca_server_ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
[submodule "thirdparty/.oca_hr"]
	path = thirdparty/.oca_hr
	url = git@github.com:OCA/hr.git
	branch = 13.0
[submodule "thirdparty/.serpentcs_contributions"]
	path = thirdparty/.serpentcs_contributions
	url = git@github.com:JayVora-SerpentCS/SerpentCS_Contributions.git
	branch = 13.0
[submodule "core/core-bpo"]
	path = core/core-bpo
	url = git@github.com:abdallamohamedcore/core-bpo.git
	branch = 13.0
