[submodule "core/payroll-v13"]
	path = core/payroll-v13
	url = git@github.com:abdallamohamedcore/payroll-v13.git
	branch = develop
[submodule "core/3party_paid"]
	path = core/3party_paid
	url = git@github.com:abdallamohamedcore/leigh_3party_paid.git
	branch = 13.0
