[submodule "core/payroll-v13"]
	path = core/payroll-v13
	url = git@github.com:abdallamohamedcore/payroll-v13.git
	branch = develop
[submodule "core/3party_paid"]
	path = core/3party_paid
	url = git@github.com:abdallamohamedcore/leigh_3party_paid.git
	branch = 13.0
[submodule "thirdparty/.oca_project"]
	path = thirdparty/.oca_project
	url = git@github.com:OCA/project.git
	branch = 13.0
[submodule "thirdparty/.cybroaddons"]
	path = thirdparty/.cybroaddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 13.0
[submodule "thirdparty/.oca_queue"]
	path = thirdparty/.oca_queue
	url = git@github.com:OCA/queue.git
	branch = 13.0
